/* General styling and color variables */

:root {
  --accent-color: #05386b;
  --base-color: #5cdb95;
  --light-base-color: #8ee4af;
  --dark-base-color: #379683;
  --off-white-color: #edf5e1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 700;
}

ul {
  list-style: none;
}

.current {
  color: var(--accent-color);
  opacity: 1;
}

/* Main container */

.container {
  background-color: var(--base-color);
}

/* Header styling */

header {
  display: flex;
  flex-direction: column;
  margin: 0 6em;
}

/* Navigation bar */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  padding: 1em 0;
  border-bottom: 2px solid var(--accent-color);
}

header nav ul {
  display: flex;
  gap: 1em;
}

header nav a {
  opacity: 0.75;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  padding: 0.5em;
  border-radius: 2em;
  transition: all 0.25s;
}

header nav a:hover {
  opacity: 1;
}

.logo {
  max-width: 3.5em;
}

.logo:hover {
  cursor: pointer;
}